
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<h2>Bạn đã đặt hàng thành công !</h2>
<p>
    @Html.ActionLink("Về Trang Sản Phẩm", "SanPhamPartial", "SanPham")
</p>
